<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
    <link rel="stylesheet"  href="~/Madlib/css/styles.css" type="text/css"/>
  </head>
  <body>
      <div class="jumbotron">
    <h1 class="text-primary" >Madlibs</h1>
    <a href="/puppy-story-form">Go to puppy story</a>
    
    </div>
  </body>
</html>

