<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Madlibs</h1>
    <form action="/puppy-story" method="post">
     <label for="verb">enter a verb</label>
     <input id="verb" name="verb" type="text">
     <label for="noun">Noun</label>
     <input id="noun" name="noun" type="text">
    <label for="adjective">enter a adjective</label>
     <input id="adjective" name="adjective" type="text">
      <label for="adverb">enter a adverb</label>
     <input id="adverb" name="adverb" type="text">
      <label for="exclamation">enter a exclamation</label>
     <input id="exclamation" name="exclamation" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>

