<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Puppy Story</h1>
    
    <p>Your story @Model.Verb, @Model.Adjective </p>

  </body>
</html>
