<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Madlibs</h1>

    <form action="/puppy-story" method="post" class="form-group">
        <label for="verb">enter a verb</label>
        <input id="verb" name="verb" type="text" class="form-control">
        <br>
        <label for="noun">enter a noun</label>
        <input id="noun" name="noun" type="text" class="form-control">
        <br>
        <label for="adjective">enter a adjective</label>
        <input id="adjective" name="adjective" type="text" class="form-control">
        <br>
        <label for="adverb">enter a adverb</label>
        <input id="adverb" name="adverb" type="text" class="form-control">
        <br>
        <label for="exclamation">enter a exclamation</label>
        <input id="exclamation" name="exclamation" type="text" class="form-control">
        <br>
        <button type="submit">Go!</button>
    </form>
  </body>
</html>

